<header>
    <nav class="navbar-inverse" id="topbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nbc">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar" id="nbc">
            <ul class="nav navbar-nav">
                <li><a href ng-click="mainCtrl.setTab('home')" ng-class="{active: mainCtrl.isTabSelected('home')}">Home</a></li>
                <li><a href ng-click="mainCtrl.setTab('services')" ng-class="{active: mainCtrl.isTabSelected('services')}">Services</a></li>
                <li><a href ng-click="mainCtrl.setTab('clients')" ng-class="{active: mainCtrl.isTabSelected('clients')}">Clients</a></li>
                <li><a href ng-click="mainCtrl.setTab('careers')" ng-class="{active: mainCtrl.isTabSelected('careers')}">Careers</a></li>
                <li><a href ng-click="mainCtrl.setTab('contact')" ng-class="{active: mainCtrl.isTabSelected('contact')}">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="mailto:info@uttara.co.uk">info@uttara.co.uk</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="jumbotron">
    <img src="images/nav-bg.jpg"/>
</div>